<div class="mb-4">
  <h2 class="text-success">Login</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    <div class="error-feedback" *ngIf="hasDisplayableError('email')">
      <div *ngIf="form.controls.email.hasError('required')">
        Please enter the email address
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
    />
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <div *ngIf="form.controls.password.hasError('required')">
        Please enter the password
      </div>
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Sign in
    </button>
  </div>
</form>

<div class="mt-2">
  Don't have an account?
  <a
    routerLink="/signup"
    class="fw-medium text-decoration-none text-success d-inline-block"
    >Sign up</a
  >
</div>
